<launch>
<!--    <node pkg="rqt_plot" type="rqt_plot" name="rqt_plot" args="/motor_force/data">-->
<!--    </node>-->
    <node pkg="socketcan_bridge" type="socketcan_bridge_node" name="can0_node" output="screen">
        <remap from="received_messages" to="can0_rx"/>
        <remap from="sent_messages" to="can0_tx"/>
        <rosparam>
            can_device: "can0"
        </rosparam>
    </node>
    <node pkg="cable_force" type="cable_force_node" name="cable_force0" output="screen">
        <remap from="can_rx" to="can0_rx"/>
        <remap from="channel1" to="motor_force"/>
    </node>
    <node pkg="unitree_motor" type="motor_node" name="motor_node" output="screen">
        <rosparam>
            usb_device: "USB0"
            enable: "010"
            motor1: "motor"
            W01: 0.0
        </rosparam>
    </node>
    <node pkg="control" type="control_node" name="control_node" output="screen">
        <rosparam>
            force_desire: 5.0
            cable_stiff: 10.0
            motor_num: 1
            motor1: "motor"
        </rosparam>
    </node>
</launch>